.outlet-container {
    min-height: 80vh;
    /* min-vh-100 this is bootstrap min height  */
}

.overFlow {
    position: sticky;
    top: 1rem;
    display: block !important;
    /* height: calc(100vh - 7rem); */
    height: 50vh;
    /* overflow-y: auto; */
    overflow: auto;
}


.active {
    text-decoration: none;
    margin-left: 10px; 
    color: #FFF;
    background: #63b363;
    border: 1px solid #63b363;
    border-radius: 5px;
    padding: 10px;
    
}

.default {
    text-decoration: none;
    margin-left: 10px; 
    color: #1d1c1c;
    border: 1px solid #1d1c1c;
    border-radius: 5px;
    padding: 10px;
}

@media only screen and (min-width: 576px) {

}